.nav-content {
  margin: 10px 0;
  width: 100%;
  height: 80px;
  background-image: url("../img/top-nav.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  p {
    margin: 14px 0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  div {
    height: 40px;
    width: 100%;
    position: relative;
    top: -20px;
    left: 10px;
    float: left;
    span {
      margin: 0 5px;
      align-content: center;
      color: #17d3fe;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .vb {
      float: right;
    }
  }
}
.m-main {
  // background-color: red;
}
.ant-layout-content {
  padding: 0;
}
.left-content {
  float: left;
  width: 20%;
  margin: 70px 0 0 30px;
  span {
    padding: 0 0 0 10px;
    border-left: 4px solid #17d3fe;
    color: #ffffff;
  }
  p {
    font-size: 12px;
    margin: 10px 0;
    color: #ffffff;
  }
  i {
    font-size: 12px;
    color: #17d3fe;
    font-style: normal;
  }
}
.center-content {
  color: #ffffff;
  float: left;
  width: 55%;
  margin: 70px 0 0 30px;
  span {
    padding: 0 0 0 10px;
    border-left: 4px solid #17d3fe;
    color: #ffffff;
    i{
      font-style: normal;
      color: #698fb9;
      margin: 0 10px;
    }
  }
  .bjs{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/bj-2.png');
  }
  p {
    font-size: 12px;
    margin: 10px 0;
    color: #ffffff;
  }
  i {
    font-size: 12px;
    color: #17d3fe;
    font-style: normal;
  }
}


.kkk{
  width: 100%;
  margin-top: 10px;
  height: 60px;
  background-image: url('../img//kkk.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0 0 0 5px;
  p{
    display: inline-block;
    width: 116px;
    margin: 10px 0 0 7px;
  }
  p:last-child{
    width: 20px;
  }
}

.ktext{
  p{
    padding-left: 8px;
    // margin: 0 10px;
    width: 122px;
    display: inline-block;
    i{
      color: #698fb9;
      
    }
  }
}

.right-content{
  color: #ffffff;
  float: left;
  width: 20%;
  margin-top: 70px;
  span:first-child {
    padding: 0 0 0 10px;
    border-left: 4px solid #17d3fe;
    color: #ffffff;
  }
  p{
    margin-top: 20px;
  }
}




